@mixin floating($radius,$shadow,$border: false){
    border-radius: $radius;
    box-shadow: $shadow;
    @if($border){
      border: $border;  
    }
}

@mixin grid($n: 1){
    .grid{
        display: flex;
    }
    @for $i from 0 to $n {
        .col-#{calc($i + 1)}{
            flex-basis: calc(100%/($n - $i));
        }
      }
}